.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  background-color: var(--color-brand-shadow);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 80px;
    max-width: 1200px;
    margin: 20px auto;
  }

  &__menu {
    display: flex;
    gap: 40px;
    padding: 18px;
    width: 400px;
    height: 55px;
    background-color: var(--color-brand-violet);
    border-radius: 10px;
    box-shadow: var(--color-brand-night) 5px 6px 4px;
  }

  &__menu-items {
    color: var(--color-brand-night);
  }

  &__links:hover {
    color: var(--color-brand-light);
  }

  .address {
    display: flex;
    flex-direction: column;

    &__title {
      margin: 0;
    }

    &__items {
      margin-bottom: 20px;
    }

    &__links {
      color: var(--color-brand-violet);

      &:hover {
        color: var(--color-brand-light);
      }
    }
  }

  &__button {
    display: block;
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-violet);
    border: 2px solid var(--color-brand-violet);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;
    transform: translateY(100px);
    transition: 1S ease;

    &:hover {
      color: var(--color-brand-violet);
      background-color: transparent;
      transform: scale(1.05);
    }
  }

  &__logo {
    fill: var(--color-brand-violet);
  }
}
