.portfolio-section {
  // main container
  &__main-container {
    fill: var(--color-brand-violet);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
  }

  // gif container

  &__gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    width: 700px;
    height: 565px;
    background-color: var(--color-brand-night);
    box-shadow: var(--color-brand-violet) 5px 8px 4px;
  }

  &__gif-card-list {
    text-align: center;
    padding-bottom: 50px;
  }

  // slider area

  &__button {
    display: flex;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 300px;
  }

  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__container {
    overflow: hidden;
  }

   &__button {
    display: block;
    padding: 16px 16px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-violet);
    border: 2px solid var(--color-brand-violet);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;

    &:hover {
      color: var(--color-brand-violet);
      background-color: transparent;
      transform: scale(1.05);
    }
  }

  &__title-button {
    display: block;
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-violet);
    border: 2px solid var(--color-brand-violet);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;
    transform: translateY(100px);
    transition: 1S ease;

    &:hover {
      color: var(--color-brand-violet);
      background-color: transparent;
      transform: scale(1.05);
    }
  }
}

.swiper-slide {
  flex-direction: row;
}

.web-card-title {
  padding-bottom: 50px;
}

.div {
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 25px;
  background-color: var(--color-brand-night);
  box-shadow: var(--color-brand-violet) 5px 8px 4px;
}

.white {
  color: var(--color-brand-light);
}


